html {
  background-color: #ddd;
}

.perspective-card-wrap {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: center;
    perspective-origin: center;

    display: inline-block;
}
.perspective-card__content {
    position:absolute;
    top:2rem;
    left: 0;
    width: 100%;
    text-align: center;

    -webkit-transform: translateZ(40px);
    transform: translateZ(40px);
    -moz-osx-font-smoothing: grayscale;
}
.perspective-card {
    width: 200px;
    height: 300px;
    margin: 50px;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    font-family: 'open sans';
    background-image: url(https://images.unsplash.com/photo-1441906363162-903afd0d3d52?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=5b57e367fd1e525f687202b75468c678);
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.15);

    /* necessary for effect */
    position: relative;
    
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
}

